<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Multithreading/src/com/shash/threads/f_reentrant_locks/ReEntrantLockDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.shash.threads.f_reentrant_locks.ReEntrantLockDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Multithreading"/>
</launchConfiguration>
